

<div class="col-md-9" style="float:right;margin-top:20px;text-align: center;">

        <mat-card class="dashboard-card" >
                <mat-card-header>
                  <mat-card-title>
                  <h4><b>New Password</b></h4> 
                  </mat-card-title>
                     
            
                </mat-card-header>
                <hr>
                <mat-card-content class="dashboard-card-content">
                  <div>
                        
                                <mat-form-field style="width:100%;">
                                  <input   [(ngModel)]="new_pass" matInput placeholder="Enter password" [type]="hide ? 'password' : 'text'">
                                  <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </mat-form-field>
                                <br>
                              
                                <mat-form-field style="width:100%;">
                                        <input  [(ngModel)]="confirm_pass" matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'">
                                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                      </mat-form-field>
        
                                
                                        <button  (click)="ChangePassword()" mat-button style="background: #3f51b5;color: #fff;"><i class="fa fa-save    "></i>  Save</button>
                                
                         
                                                   
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
        

      