
<app-navbar></app-navbar>

<div class="container-about" 
style="background:url(../assets/images/back_test.jpg);height:600px;width:100%;
background-repeat:no-repeat;background-size:cover;" >
<div class="content-section-about-header">

  <h1>About Us</h1>
  <h3>Castro International Institute</h3>

</div>


</div>



<div class="container">


    <div class="video-intro">
        <div class="container" style="text-align:center"><br><br>
            <h2 style="font-weight:bolder;">We Love Excellence</h2>
            <video src="../assets/videos/tes.mp4" class="vid-content"controls  height="600px;width:100%;"></video>
        
        
        </div>
         
        
        
        </div>

</div>

<div class="container" style="text-align:center;">

 <h2 style="font-weight:bolder;">Lorem Welcome To Institute</h2>
 <div class="text-container">


Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, magni impedit quas ipsum facilis deserunt explicabo aliquid! Quam deleniti cupiditate quaerat, illo ea fuga culpa rerum sapiente sit, mollitia officiis.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt optio molestiae repellendus aut est voluptatibus voluptatum, delectus illum earum, ut quae corrupti quibusdam reiciendis cumque, sit quidem tempora maxime maiores.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, magni impedit quas ipsum facilis deserunt explicabo aliquid! Quam deleniti cupiditate quaerat, illo ea fuga culpa rerum sapiente sit, mollitia officiis.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt optio molestiae repellendus aut est voluptatibus voluptatum, delectus illum earum, ut quae corrupti quibusdam reiciendis cumque, sit quidem tempora maxime maiores.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, magni impedit quas ipsum facilis deserunt explicabo aliquid! Quam deleniti cupiditate quaerat, illo ea fuga culpa rerum sapiente sit, mollitia officiis.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt optio molestiae repellendus aut est voluptatibus voluptatum, delectus illum earum, ut quae corrupti quibusdam reiciendis cumque, sit quidem tempora maxime maiores.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, magni impedit quas ipsum facilis deserunt explicabo aliquid! Quam deleniti cupiditate quaerat, illo ea fuga culpa rerum sapiente sit, mollitia officiis.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt optio molestiae repellendus aut est voluptatibus voluptatum, delectus illum earum, ut quae corrupti quibusdam reiciendis cumque, sit quidem tempora maxime maiores.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, magni impedit quas ipsum facilis deserunt explicabo aliquid! Quam deleniti cupiditate quaerat, illo ea fuga culpa rerum sapiente sit, mollitia officiis.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt optio molestiae repellendus aut est voluptatibus voluptatum, delectus illum earum, ut quae corrupti quibusdam reiciendis cumque, sit quidem tempora maxime maiores.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, magni impedit quas ipsum facilis deserunt explicabo aliquid! Quam deleniti cupiditate quaerat, illo ea fuga culpa rerum sapiente sit, mollitia officiis.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt optio molestiae repellendus aut est voluptatibus voluptatum, delectus illum earum, ut quae corrupti quibusdam reiciendis cumque, sit quidem tempora maxime maiores.

 </div>


</div><br><br>


<div class="container" style="text-align:center;">

        <h2 style="font-weight:bolder;">Lorem Welcome To Institute</h2>
        <div class="text-container">
       
       
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, magni impedit quas ipsum facilis deserunt explicabo aliquid! Quam deleniti cupiditate quaerat, illo ea fuga culpa rerum sapiente sit, mollitia officiis.
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt optio molestiae repellendus aut est voluptatibus voluptatum, delectus illum earum, ut quae corrupti quibusdam reiciendis cumque, sit quidem tempora maxime maiores.
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, magni impedit quas ipsum facilis deserunt explicabo aliquid! Quam deleniti cupiditate quaerat, illo ea fuga culpa rerum sapiente sit, mollitia officiis.
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt optio molestiae repellendus aut est voluptatibus voluptatum, delectus illum earum, ut quae corrupti quibusdam reiciendis cumque, sit quidem tempora maxime maiores.
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, magni impedit quas ipsum facilis deserunt explicabo aliquid! Quam deleniti cupiditate quaerat, illo ea fuga culpa rerum sapiente sit, mollitia officiis.
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt optio molestiae repellendus aut est voluptatibus voluptatum, delectus illum earum, ut quae corrupti quibusdam reiciendis cumque, sit quidem tempora maxime maiores.
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, magni impedit quas ipsum facilis deserunt explicabo aliquid! Quam deleniti cupiditate quaerat, illo ea fuga culpa rerum sapiente sit, mollitia officiis.
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt optio molestiae repellendus aut est voluptatibus voluptatum, delectus illum earum, ut quae corrupti quibusdam reiciendis cumque, sit quidem tempora maxime maiores.
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, magni impedit quas ipsum facilis deserunt explicabo aliquid! Quam deleniti cupiditate quaerat, illo ea fuga culpa rerum sapiente sit, mollitia officiis.
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt optio molestiae repellendus aut est voluptatibus voluptatum, delectus illum earum, ut quae corrupti quibusdam reiciendis cumque, sit quidem tempora maxime maiores.
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, magni impedit quas ipsum facilis deserunt explicabo aliquid! Quam deleniti cupiditate quaerat, illo ea fuga culpa rerum sapiente sit, mollitia officiis.
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt optio molestiae repellendus aut est voluptatibus voluptatum, delectus illum earum, ut quae corrupti quibusdam reiciendis cumque, sit quidem tempora maxime maiores.
       
        </div>
       
       
       </div><br><br>
       

       <app-footer></app-footer>

