<app-navbar></app-navbar>
<div class="events page_section">
    <div class="container">
      
      <div class="row">
        <div class="col">
          <div class="section_title text-center">
            <h1>Upcoming Events</h1>
          </div>
        </div>
      </div>
      
      <div class="event_items" style="margin-top: 50px;">
  
        <!-- Event Item -->
        <div class="row event_item">
          <div class="col">
            <div class="row d-flex flex-row align-items-end">
  
              <div class="col-lg-2 order-lg-1 order-2">
                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                  <div class="event_day">07</div>
                  <div class="event_month">January</div>
                </div>
              </div>
  
              <div class="col-lg-6 order-lg-2 order-3">
                <div class="event_content">
                  <div class="event_name"><a class="trans_200" href="#">Student Festival</a></div>
                  <div class="event_location">Grand Central Park</div>
                  <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
                </div>
              </div>
  
              <div class="col-lg-4 order-lg-3 order-1">
                <div class="event_image">
                  <img src="../assets/images/event1.jpg" >
                </div>
              </div>
  
            </div>	
          </div>
        </div>
  
        <!-- Event Item -->
        <div class="row event_item">
          <div class="col">
            <div class="row d-flex flex-row align-items-end">
  
              <div class="col-lg-2 order-lg-1 order-2">
                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                  <div class="event_day">07</div>
                  <div class="event_month">January</div>
                </div>
              </div>
  
              <div class="col-lg-6 order-lg-2 order-3">
                <div class="event_content">
                  <div class="event_name"><a class="trans_200" href="#">Open day in the Univesrsity campus</a></div>
                  <div class="event_location">Grand Central Park</div>
                  <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
                </div>
              </div>
  
              <div class="col-lg-4 order-lg-3 order-1">
                <div class="event_image">
                  <img src="../assets/images/event2.jpg" >
                </div>
              </div>
  
            </div>	
          </div>
        </div>
  
        <!-- Event Item -->
        <div class="row event_item">
          <div class="col">
            <div class="row d-flex flex-row align-items-end">
  
              <div class="col-lg-2 order-lg-1 order-2">
                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                  <div class="event_day">07</div>
                  <div class="event_month">January</div>
                </div>
              </div>
  
              <div class="col-lg-6 order-lg-2 order-3">
                <div class="event_content">
                  <div class="event_name"><a class="trans_200" href="#">Student Graduation Ceremony</a></div>
                  <div class="event_location">Grand Central Park</div>
                  <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
                </div>
              </div>
  
              <div class="col-lg-4 order-lg-3 order-1">
                <div class="event_image">
                  <img src="assets/images/event3.jpg">
                </div>
              </div>
  
            </div>	
          </div>
        </div>
  
      </div>
        
    </div>
  </div>

  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>

    <app-footer></app-footer>