<app-navbar></app-navbar>
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:600px;">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>

  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide" src="../assets/images/slider_background.jpg" style="width:100%;height:600px;" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Customer Satisfaction</h1>
          <p>Customers satisfaction is one of our core values as we place customers first in every service rendered</p>
          <p><a class="btn btn-lg btn-primary-custom" href="portfolio" role="button">More</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="second-slide" src="../assets/images/slider_background.jpg" style="width:100%; height:600px;" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Build your dream</h1>
          <p>With a wide variety off services that we offer on techmiz we help people build thier dream and bussiness by giving them platforms on different avaialable platforms today.</p>
          <p><a class="btn btn-lg btn-primary-custom" href="portfolio" role="button">More</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="third-slide" src="../assets/images/slider_background.jpg" style="width:100%; height:600px;" alt="Third slide">
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>Path to Your Success</h1>
          <p>Its Our joy to always be a part to your success and has always been for us this past years thanks for giving us the opurtunity</p>
          <p><a class="btn btn-lg btn-primary-custom" href="#contact-us" role="button">More</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>






<div class="container space-top">

<div class="row">

  

<div class="col-md-3 custom-column">

  <div class="center-me">
    <i class="fa fa-eye icon3x" aria-hidden="true"></i>
  </div>
  <div class="content-main">
     
      <h3 class="content-header-note">Our Vision</h3>
To remain a leading light in the education industry and a benchmark for molding the spiritual, intellectual, 
emotional, physical and social life of a student. To provide a balanced education which develops students' 
personal and academic potentials to enable them cope with challenges that lie ahead.   
  </div>



  
</div>


<div class="col-md-3 custom-column">


  <div class="center-me">
    <i class="fa fa-bullseye icon3x" aria-hidden="true"></i>
  </div>

  <div class="content-main">
     
    <h3 class="content-header-note">Our Mission</h3>
        A passionate and single-minded commitment to molding the tender 
      life of a child from nursery through primary
       to secondary. Educating, mentoring and shaping them into the next 
      generation of trailblazers, the leaders of tomorrow.  
  </div>


  
</div>


<div class="col-md-3 custom-column">

  <div class="center-me">
    <i class="fa fa-history icon3x" aria-hidden="true"></i>
  </div>
  
  <div class="content-main">
     
    <h3 class="content-header-note">History</h3>
      Loral International Schools experienced a humble beginning with 
      the establishment of the Nursery and Primary Schools in 1978, after the Proprietress Chief (Mrs.) 
      Loretta Nwosu returned from her studies in Scotland. Today, Loral has five
      <a routerLink="about">Read More</a> 
</div>




  
</div>







</div>
  



</div><br><br>


<div class=" students-area">


  <div class="content-container" style="background:url(../assets/images/back_test.jpg);height:500px;">
    <div class="container">
    
    
    <div class="row" id="testimonials" >
    <div class="col-md-12">
  <h1 class="light-weight more-margin" style="text-align:center;">What our students are saying</h1>
    </div>
      
      <div class="row">


        <div class="col-xs-12 col-sm-4">
          <br>
          <div class="img-stuedent-test" style="text-align:center;border-radius:50%;">
            <img src="../assets/images/testimonials_background.jpg" style="height:100px;width:100px;border-radius:50%;" class="img-thumbnail" alt="" sizes="" srcset="">
          </div>
    <div class="testimonial" id="t1"><div class="testimonial-text"><i class="fa fa-quote-left"></i>
    <i>48 hours after joining WazobiaMart Affiliate Program, I was already prepared to quit my fulltime job.</i>	
    <i class="fa fa-quote-right"></i><div class="name">- Ahmad Yasser</div></div></div></div>


   <div class="col-xs-12 col-sm-4"><div class="testimonial" id="t2"><br>
      <div class="img-stuedent-test" style="text-align:center;border-radius:50%;">
          <img src="../assets/images/testimonials_background.jpg" style="height:100px;width:100px;border-radius:50%;" class="img-thumbnail" alt="" sizes="" srcset="">
        </div>
     <div class="testimonial-text"><i class="fa fa-quote-left"></i> 
        <i>A few months ago I joined WaziobiaMart's Affiliate Program. I didn't know anything about affiliate business. The supportive team at Jumia helped me get started until I was able to start making money.</i> <i class="fa fa-quote-right"></i><div class="name">- Khaled Omar
        </div></div></div></div>
        <div class="col-xs-12 col-sm-4"><br>
            <div class="img-stuedent-test" style="text-align:center;border-radius:50%;">
                <img src="../assets/images/testimonials_background.jpg" style="height:100px;width:100px;border-radius:50%;" class="img-thumbnail" alt="" sizes="" srcset="">
              </div>
              <div class="testimonial" id="t3" style="padding: 7px 0% 0px 0px;"><div class="testimonial-text"><i class="fa fa-quote-left"></i> <i> I'm building new websites every week to increase my reach so that I can double what I'm already making with WazobiaMart.</i><i class="fa fa-quote-right"></i>
          <div class="name">- Seif Tarek</div></div></div>
        </div></div>
      </div>
    
    
    
    </div>
    
    
    
    
    
    
    
    </div>


</div>







<div class="events page_section">
  <div class="container">
    
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <h1>Upcoming Events</h1>
        </div>
      </div>
    </div>
    
    <div class="event_items">

      <!-- Event Item -->
      <div class="row event_item">
        <div class="col">
          <div class="row d-flex flex-row align-items-end">

            <div class="col-lg-2 order-lg-1 order-2">
              <div class="event_date d-flex flex-column align-items-center justify-content-center">
                <div class="event_day">07</div>
                <div class="event_month">January</div>
              </div>
            </div>

            <div class="col-lg-6 order-lg-2 order-3">
              <div class="event_content">
                <div class="event_name"><a class="trans_200" href="#">Student Festival</a></div>
                <div class="event_location">Grand Central Park</div>
                <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
              </div>
            </div>

            <div class="col-lg-4 order-lg-3 order-1">
              <div class="event_image">
                <img src="../assets/images/event1.jpg" >
              </div>
            </div>

          </div>	
        </div>
      </div>

      <!-- Event Item -->
      <div class="row event_item">
        <div class="col">
          <div class="row d-flex flex-row align-items-end">

            <div class="col-lg-2 order-lg-1 order-2">
              <div class="event_date d-flex flex-column align-items-center justify-content-center">
                <div class="event_day">07</div>
                <div class="event_month">January</div>
              </div>
            </div>

            <div class="col-lg-6 order-lg-2 order-3">
              <div class="event_content">
                <div class="event_name"><a class="trans_200" href="#">Open day in the Univesrsity campus</a></div>
                <div class="event_location">Grand Central Park</div>
                <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
              </div>
            </div>

            <div class="col-lg-4 order-lg-3 order-1">
              <div class="event_image">
                <img src="../assets/images/event2.jpg" >
              </div>
            </div>

          </div>	
        </div>
      </div>

      <!-- Event Item -->
      <div class="row event_item">
        <div class="col">
          <div class="row d-flex flex-row align-items-end">

            <div class="col-lg-2 order-lg-1 order-2">
              <div class="event_date d-flex flex-column align-items-center justify-content-center">
                <div class="event_day">07</div>
                <div class="event_month">January</div>
              </div>
            </div>

            <div class="col-lg-6 order-lg-2 order-3">
              <div class="event_content">
                <div class="event_name"><a class="trans_200" href="#">Student Graduation Ceremony</a></div>
                <div class="event_location">Grand Central Park</div>
                <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
              </div>
            </div>

            <div class="col-lg-4 order-lg-3 order-1">
              <div class="event_image">
                <img src="assets/images/event3.jpg">
              </div>
            </div>

          </div>	
        </div>
      </div>

    </div>
      
  </div>
</div>

<app-footer></app-footer>
